html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --bg-top: #ecf5c9;
  --bg-main: #f8cadc;
  --map-bg: #fff7fb;
  --card-bg: #ffffff;
  --purple: #7c5ab8;
  --radius-large: 24px;
}

.app {
  min-height: 100vh;
  background: var(--bg-main);
}

/* Header */

.header {
  background: var(--bg-top);
  padding: 40px 0 60px;
  text-align: center;
  width: 100%;
}

.header-title {
  margin: 0;
  font-size: 64px;
  color: var(--purple);
  font-weight: 400;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Layout below header */

.main-layout {
  max-width: 900px;
  margin: -40px auto 60px; /* pull up into header area a bit */
}

/* Map section */

.map-section {
  padding: 10px 20px;
}

.map-box {
  background: var(--map-bg);
  border-radius: var(--radius-large);
  min-height: 260px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.map {
  height: 25px;
  padding: 20px 20px;
}

/* Results */

.results-section {
  padding: 40px 20px 0;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.search-header h2 {
  margin: 0;
  font-size: 28px;
  color: var(--purple);
  font-weight: 500;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Result card */

.result-card {
  background: var(--card-bg);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 16px 20px;
  align-items: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

.result-card-info {
  padding-right: 16px;
}

.result-card-title {
  margin: 0 0 4px;
  font-size: 18px;
  color: #000;
  display: inline;
  padding-left: 10px;
  
}

.result-card-text {
  margin: 0;
  font-size: 13px;
  color: #666;
}

.result-card-image {
  height: 80px;
  border-radius: 8px;
  background: #ddd; /* placeholder */
}

.pin {
  height: 20px;
}
